@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

body {
  display: flex;
  // justify-content: center;
  gap: 1rem;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  font-family: "Bai Jamjuree", sans-serif;
}

#root {
  width: 100%;
  // margin: auto;
  padding: 1rem;
}

.App {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.hello > * {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}

.hello .customStyle__option:active {
  background-color: red;
}

.hello .customStyle__control {
  border: 1px solid red;
}

.hello .customStyle__menu {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.hello .customStyle__menu-list::-webkit-scrollbar,
::-webkit-slider-thumb {
  display: none;
}

.hello .customStyle__menu .customStyle__option:hover {
  background-color: blueviolet;
  color: white;
}

.hello .customStyle__control:hover,
.customStyle__control:focus-within {
  border: 1px solid blue;
}

.customStyle__option .customStyle__option--is-focused,
.customStyle__option--is-selected {
  background-color: #000 !important;
}

